In [1]:
2 + √(2)

3.414213562373095

In [2]:
5040 / 60

84.0

In [3]:
0-6+2^4

10

In [4]:
x=2
3x^2-2x+3

11

In [5]:
1+3<5||2+2<1

true

In [6]:
(1+3 < 5) || (2+2 < 1)

true

In [7]:
(true || false) && false

false

In [8]:
3 & 5 # 1

1

In [9]:
3 & 5  > 0 # false

true

In [10]:
8 & 5

0

In [11]:
8 & 5 > 0 # false

false

In [12]:
ary = Array{Float64, 3}

Array{Float64,3}

In [13]:
typeof(ary)

DataType

In [14]:
Array{String}(undef, 3)

3-element Array{String,1}:
 #undef
 #undef
 #undef

In [15]:
 Array{Any}(undef, 3)

3-element Array{Any,1}:
 #undef
 #undef
 #undef

In [16]:
x = Array{Int64}(undef,11, 12)

11×12 Array{Int64,2}:
  6  56   78  111  141  178  206  234  252  285  323  345
 13  60   79  112  145  180  207  235  254  290  327  348
 22  62   81  114  146  182  208  237  255  296  328  351
 36  65   84  115  147  184  209  238  257  298  332  359
 40  68   85  116  151  187  210  239  267  299  334  361
 41  70   87  117  155  193  215  240  270  307  335  362
 42  71   89  119  160  197  216  242  271  308  336  364
 46  73   90  124  166  198  218  243  275  310  337  365
 48  75  101  127  168  202  221  244  276  312  338  366
 50  76  102  137  169  204  224  248  277  314  339  367
 52  77  109  140  177  205  232  249  281  317  340  369

In [17]:
typeof(x)

Array{Int64,2}

In [18]:
x = 3
y = 2

a = Matrix{Integer}(undef, x, y)

3×2 Array{Integer,2}:
 #undef  #undef
 #undef  #undef
 #undef  #undef

In [19]:
x = -3   # negative value
y = 2

a = Matrix{Integer}(undef, x, y)

LoadError: ArgumentError: invalid Array dimensions

In [20]:
60 \ 5040  # == 5040 / 60

84.0

In [21]:
60 \ 5040  ===  5040 / 60

true

In [22]:
a,b = 1,2

b = a

a = b # == 1

1

In [23]:
function test(input)
  println("$input"^2)
end

test(2) # concatenation

22

In [24]:
# one liner function form - omit function keyword
add2(x, y) = return x + y

add2 (generic function with 1 method)

In [25]:
# one liner function form - omit function keyword
add22(x, y) = x + y

add22 (generic function with 1 method)

In [26]:
add2(10, 2)

12

In [27]:
add22(10, 2)

12

In [28]:
2^2^1^5 + 2^3 # == 12

println("$(2*6)") # == 12

2^3^2 - 500 == 2^(3^2) - 500 == 2^9 - 500 # ==12

12

true

In [29]:
5 - (7 * 2) + 4

-5

In [30]:
1 + 3 < 5 && 2^2 === 4.0

false

In [31]:
x = 5
x = 6

(x ≥ 5.0) && (x < 7.0)

true

In [32]:
# we want true
(true && (false && false)) || true

true

In [33]:
((true && false) && false) || true

true

In [34]:
data = [1.6800483  -1.641695388; 
        0.501309281 -0.977697538; 
        1.528012113 0.52771122;
        1.70012253 1.711524991; 
        1.992493625 1.891000015;
        2.706075824 -0.463427794;
        2.994931927 -0.443566619;
        3.491852811 -1.275179133;
        3.501191722 -0.690499597;
        4.459924502 -5.516130799;
        4.936965851 -6.001703074;
        5.023289852 -8.36416901;
        5.04233698 -7.924477517;
        5.50739285 -10.77482371;
        5.568665171 -10.9171878]

15×2 Array{Float64,2}:
 1.68005    -1.6417
 0.501309   -0.977698
 1.52801     0.527711
 1.70012     1.71152
 1.99249     1.891
 2.70608    -0.463428
 2.99493    -0.443567
 3.49185    -1.27518
 3.50119    -0.6905
 4.45992    -5.51613
 4.93697    -6.0017
 5.02329    -8.36417
 5.04234    -7.92448
 5.50739   -10.7748
 5.56867   -10.9172

In [35]:
data[:, 1] # first column only

15-element Array{Float64,1}:
 1.6800483
 0.501309281
 1.528012113
 1.70012253
 1.992493625
 2.706075824
 2.994931927
 3.491852811
 3.501191722
 4.459924502
 4.936965851
 5.023289852
 5.04233698
 5.50739285
 5.568665171

In [36]:
function coordinates(x, y, z)
  if x === 0 && y === 0 && x === z # select appropriate condition from list below so this code works
    println("origin")
  else
    println("($x, $y, $z)")
  end
end

coordinates (generic function with 1 method)

In [37]:
coordinates(1.0, 0, 0)

(1.0, 0, 0)

In [38]:
coordinates(0.0, 0, 0)

(0.0, 0, 0)

In [39]:
coordinates(0, 0, 0)

origin

In [40]:
a, b = 2, 3           

function f(x)  
  b = 5 
  a*x + b
end

f(7), b

(19, 3)

In [41]:
function f(x)
  return 2x
  3x
end

f (generic function with 1 method)

In [42]:
f(5)

10

In [43]:
mylist = [3, 2, 1]
count=1
for i in mylist
  mylist[i] = count
  count += 1
end

mylist[3]

1

In [44]:
function test(x)
    x == 1 && return 1
    x <= 0 && return 0
    test(x-1) + test(x-2)
end

test(3)

2

In [45]:
count=0
for i=1:3
  for j=1:3
    count=count+1
  end
end

count

9

In [46]:
summedvals = 3
for k = 1:2:5  
  summedvals = summedvals + k
  println(k, " => ", summedvals)
end
summedvals

1 => 4
3 => 7
5 => 12

12