## Using RDataset package

In [1]:
using RDatasets

RDatasets.datasets()

┌ Info: Precompiling RDatasets [ce6b1742-4840-55fa-b093-852dadbb1d8b]
└ @ Base loading.jl:1278

763×5 DataFrame
│ Row │ Package │ Dataset     │ Title       │ Rows  │ Columns │
│     │ String  │ String      │ String      │ Int64 │ Int64   │
├─────┼─────────┼─────────────┼─────────────┼───────┼─────────┤
│ 1   │ COUNT   │ affairs     │ affairs     │ 601   │ 18      │
│ 2   │ COUNT   │ azdrg112    │ azdrg112    │ 1798  │ 4       │
│ 3   │ COUNT   │ azpro       │ azpro       │ 3589  │ 6       │
│ 4   │ COUNT   │ badhealth   │ badhealth   │ 1127  │ 3       │
│ 5   │ COUNT   │ fasttrakg   │ fasttrakg   │ 15    │ 9       │
│ 6   │ COUNT   │ lbw         │ lbw         │ 189   │ 10      │
│ 7   │ COUNT   │ lbwgrp      │ lbwgrp      │ 6     │ 7       │
│ 8   │ COUNT   │ loomis      │ loomis      │ 410   │ 11      │
│ 9   │ COUNT   │ mdvis       │ mdvis       │ 2227  │ 13      │
│ 10  │ COUNT   │ medpar      │ medpar      │ 1495  │ 10      │
⋮
│ 753 │ gamair  │ meh         │ meh         │ 1476  │ 24      │
│ 754 │ gamair  │ mpg         │ mpg         │ 205   │ 27      │
│ 755 │ gamair  │ prostate    │ prostate    │ 654   │ 530     │
│ 756 │ gamair  │ sitka       │ sitka       │ 1027  │ 6       │
│ 757 │ gamair  │ sole        │ sole        │ 1575  │ 8       │
│ 758 │ gamair  │ sperm.comp1 │ sperm.comp1 │ 15    │ 5       │
│ 759 │ gamair  │ sperm.comp2 │ sperm.comp2 │ 24    │ 11      │
│ 760 │ gamair  │ stomata     │ stomata     │ 24    │ 4       │
│ 761 │ gamair  │ swer        │ swer        │ 2196  │ 10      │
│ 762 │ gamair  │ wesdr       │ wesdr       │ 669   │ 5       │
│ 763 │ gamair  │ wine        │ wine        │ 47    │ 8       │

In [2]:
iris = RDatasets.dataset("datasets", "iris")

first(iris, 10)

10×5 DataFrame
│ Row │ SepalLength │ SepalWidth │ PetalLength │ PetalWidth │ Species │
│     │ Float64     │ Float64    │ Float64     │ Float64    │ Cat…    │
├─────┼─────────────┼────────────┼─────────────┼────────────┼─────────┤
│ 1   │ 5.1         │ 3.5        │ 1.4         │ 0.2        │ setosa  │
│ 2   │ 4.9         │ 3.0        │ 1.4         │ 0.2        │ setosa  │
│ 3   │ 4.7         │ 3.2        │ 1.3         │ 0.2        │ setosa  │
│ 4   │ 4.6         │ 3.1        │ 1.5         │ 0.2        │ setosa  │
│ 5   │ 5.0         │ 3.6        │ 1.4         │ 0.2        │ setosa  │
│ 6   │ 5.4         │ 3.9        │ 1.7         │ 0.4        │ setosa  │
│ 7   │ 4.6         │ 3.4        │ 1.4         │ 0.3        │ setosa  │
│ 8   │ 5.0         │ 3.4        │ 1.5         │ 0.2        │ setosa  │
│ 9   │ 4.4         │ 2.9        │ 1.4         │ 0.2        │ setosa  │
│ 10  │ 4.9         │ 3.1        │ 1.5         │ 0.1        │ setosa  │

In [3]:
 last(iris, 5)

5×5 DataFrame
│ Row │ SepalLength │ SepalWidth │ PetalLength │ PetalWidth │ Species   │
│     │ Float64     │ Float64    │ Float64     │ Float64    │ Cat…      │
├─────┼─────────────┼────────────┼─────────────┼────────────┼───────────┤
│ 1   │ 6.7         │ 3.0        │ 5.2         │ 2.3        │ virginica │
│ 2   │ 6.3         │ 2.5        │ 5.0         │ 1.9        │ virginica │
│ 3   │ 6.5         │ 3.0        │ 5.2         │ 2.0        │ virginica │
│ 4   │ 6.2         │ 3.4        │ 5.4         │ 2.3        │ virginica │
│ 5   │ 5.9         │ 3.0        │ 5.1         │ 1.8        │ virginica │

In [4]:
names(iris)

5-element Array{String,1}:
 "SepalLength"
 "SepalWidth"
 "PetalLength"
 "PetalWidth"
 "Species"

In [5]:
describe(iris, :all)

5×13 DataFrame. Omitted printing of 6 columns
│ Row │ variable    │ mean    │ std      │ min    │ q25    │ median │ q75    │
│     │ Symbol      │ Union…  │ Union…   │ Any    │ Union… │ Union… │ Union… │
├─────┼─────────────┼─────────┼──────────┼────────┼────────┼────────┼────────┤
│ 1   │ SepalLength │ 5.84333 │ 0.828066 │ 4.3    │ 5.1    │ 5.8    │ 6.4    │
│ 2   │ SepalWidth  │ 3.05733 │ 0.435866 │ 2.0    │ 2.8    │ 3.0    │ 3.3    │
│ 3   │ PetalLength │ 3.758   │ 1.7653   │ 1.0    │ 1.6    │ 4.35   │ 5.1    │
│ 4   │ PetalWidth  │ 1.19933 │ 0.762238 │ 0.1    │ 0.3    │ 1.3    │ 1.8    │
│ 5   │ Species     │         │          │ setosa │        │        │        │

In [6]:
describe(iris, :q25, :q75, :first, :last, :mean, :median)  # subset of statistics

5×7 DataFrame
│ Row │ variable    │ q25    │ q75    │ first  │ last      │ mean    │ median │
│     │ Symbol      │ Union… │ Union… │ Any    │ Any       │ Union…  │ Union… │
├─────┼─────────────┼────────┼────────┼────────┼───────────┼─────────┼────────┤
│ 1   │ SepalLength │ 5.1    │ 6.4    │ 5.1    │ 5.9       │ 5.84333 │ 5.8    │
│ 2   │ SepalWidth  │ 2.8    │ 3.3    │ 3.5    │ 3.0       │ 3.05733 │ 3.0    │
│ 3   │ PetalLength │ 1.6    │ 5.1    │ 1.4    │ 5.1       │ 3.758   │ 4.35   │
│ 4   │ PetalWidth  │ 0.3    │ 1.8    │ 0.2    │ 1.8       │ 1.19933 │ 1.3    │
│ 5   │ Species     │        │        │ setosa │ virginica │         │        │

In [7]:
by(iris, :Species, nrow)

3×2 DataFrame
│ Row │ Species    │ nrow  │
│     │ Cat…       │ Int64 │
├─────┼────────────┼───────┤
│ 1   │ setosa     │ 50    │
│ 2   │ versicolor │ 50    │
│ 3   │ virginica  │ 50    │

In [8]:
names(iris[!, 1:end-1])

4-element Array{String,1}:
 "SepalLength"
 "SepalWidth"
 "PetalLength"
 "PetalWidth"

In [9]:
using Statistics
using Printf

# we do not want the last column `Species` which is not numeric
println("feature \t feature \t corr \t\t covar.")
println("___________________________________________________________")
_names = names(iris)[1:end-1] # names(iris[!, 1:end-1])

for x in _names
    for y in _names
        s_cor_v = @sprintf("%+2.7f", cor(iris[!, x], iris[!, y]))
        s_cov_v = @sprintf("%+2.7f", cov(iris[!, x], iris[!, y]))
        println("$x \t $y \t $s_cor_v \t $s_cov_v")
    end
    println("___________________________________________________________")
end

feature 	 feature 	 corr 		 covar.
___________________________________________________________
SepalLength 	 SepalLength 	 +1.0000000 	 +0.6856935
SepalLength 	 SepalWidth 	 -0.1175698 	 -0.0424340
SepalLength 	 PetalLength 	 +0.8717538 	 +1.2743154
SepalLength 	 PetalWidth 	 +0.8179411 	 +0.5162707
___________________________________________________________
SepalWidth 	 SepalLength 	 -0.1175698 	 -0.0424340
SepalWidth 	 SepalWidth 	 +1.0000000 	 +0.1899794
SepalWidth 	 PetalLength 	 -0.4284401 	 -0.3296564
SepalWidth 	 PetalWidth 	 -0.3661259 	 -0.1216394
___________________________________________________________
PetalLength 	 SepalLength 	 +0.8717538 	 +1.2743154
PetalLength 	 SepalWidth 	 -0.4284401 	 -0.3296564
PetalLength 	 PetalLength 	 +1.0000000 	 +3.1162779
PetalLength 	 PetalWidth 	 +0.9628654 	 +1.2956094
___________________________________________________________
PetalWidth 	 SepalLength 	 +0.8179411 	 +0.5162707
PetalWidth 	 SepalWidth 	 -0.3661259 	 -0.1216394
PetalWidth 	 PetalLength 	 +0.9628654 	 +1.2956094
PetalWidth 	 PetalWidth 	 +1.0000000 	 +0.5810063
___________________________________________________________

In [10]:
# Give 7 samples randomly chosen (for feature SepalLength)

rand(iris[!, :SepalLength], 7)

7-element Array{Float64,1}:
 6.7
 6.7
 5.1
 5.7
 5.9
 5.6
 5.8